@model List<RentACar.MediatorPattern.Results.LocationResults.GetLocationQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="row">
    <div class="col-12">
        <div class="card">

            <div class="content-wrapper">

                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <br />
                                <h3 class="card-title">Lokasyon Bilgileri</h3>
                                <div class="card-body table-responsive p-0" style="height: %100px;">
                                    <table class="table table-head-fixed text-nowrap">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Lokasyon</th>
                                                <th>Sil</th>
                                                <th>Güncelle</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                count++;
                                                <tr>
                                                    <th scope="row">@count</th>
                                                    <td>@item.LocationName</td>
                                                    <td><a href="/AdminLocation/RemoveLocation/@item.LocationID" class="btn btn-danger">Sil</a></td>
                                                    <td><a href="/AdminLocation/UpdateLocation/@item.LocationID" class="btn btn-success">Güncelle</a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <a href="/AdminLocation/CreateLocation/" class="btn btn-primary">Yeni Lokasyon Girişi</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

