
<div class="sidebar">
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

            <a href="index3.html" class="brand-link">
                <img src="/AdminLTE-3.0.4/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">RentACar Admin</span>
            </a>
            <br />
            <li class="nav-item">
                <a href="/AdminCar/Index/" class="nav-link">
                    <i class='fas fa-car'></i>
                    <p>Araba İşlemleri</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/AdminFeature/Index/" class="nav-link">
                    <i class='fas fa-car-side'></i>
                    <p>Araba özellikleri</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/AdminBrand/Index/" class="nav-link">
                    <i class='fas fa-barcode'></i>
                    <p>Marka</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/AdminPricing/Index/" class="nav-link">
                    <i class='fas fa-comment-dollar'></i>
                    <p>Ödemeler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/AdminLocation/Index/" class="nav-link">
                    <i class='fas fa-map-marker-alt'></i>
                    <p>Lokasyon İşlemleri</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/AdminFeature/Index/" class="nav-link">
                    <i class='fas fa-user-cog'></i>
                    <p>Ayarlar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Default/Index/" class="nav-link">
                    <i class='fas fa-user-lock'></i>
                    <p>Çıkış Yap</p>
                </a>
            </li>
        </ul>
    </nav>
</div>