
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

@await Html.PartialAsync("/Views/AdminLayout/AdminHeaderPartial.cshtml")

<body class="hold-transition sidebar-mini layout-footer-fixed">
    <!-- Site wrapper -->
    <div class="wrapper">
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
           

            <div class="sidebar">         
                @await Html.PartialAsync("/Views/AdminLayout/AdminSidebarPartial.cshtml")
            </div>

        </aside>

        @RenderBody()
   
        @await Html.PartialAsync("/Views/AdminLayout/AdminFooterPartial.cshtml")
        

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    @await Html.PartialAsync("/Views/AdminLayout/AdminScriptPartial.cshtml")
</body>
</html>

